%html
  %head
    %title my title
  %body

    %h1
      Please reset your password here
    %form{action: "password_reset", method: "post"}
      %table
        %tr
          %td User name:
          %td
            %input#user_name{type: "text", name: "user_name"}
        %tr
          %td Old password:
          %td
            %input#old_password{type: "text", name: "old_password"}
        %tr
          %td New password:
          %td
            %input#new_password{type: "text", name: "new_password"}
        %tr
          %td Confirm new password:
          %td
            %input#confirm_new_password{type: "text", name: "confirm_new_password"}
        %tr
          %td{colspan: 2}
            %button#submit Submit