server_path: <your local server path>
database:
  db_name: <database name>
  db_host: <database ip/host>
  db_username: <user name>
  db_password: <password>
secret_key: <your secret key>
public_secret_key: <your public path secret key>